{% extends 'kxy_store/base.html' %}
{% block content %}

<h3 style="text-align:center">公司项目总览</h3>
<!--
    name = models.CharField(max_length=200)
    date_added = models.DateTimeField(auto_now_add=True)
    owner = models.ForeignKey(User,on_delete=models.CASCADE)
    client = models.CharField(max_length=200)
    client_human = models.CharField(max_length=200)
    client_pn = models.IntegerField()
    project_inf = models.TextField()
-->
<a href="{% url 'kxy_project:my_project' %}">管理我的项目</a>
<table class="table table-striped table-hover">
    <tr>
        <th>项目名称</th>
        <th>立项时间</th>
        <th>项目负责人</th>
        <th>客户名称</th>
        <th>客户对接人</th>
        <th>客户联系方式</th>
        <th>项目详情信息</th>
        <th>操作</th>
    </tr>
    {% for item in project %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.date_added }}</td>
        <td>{{ item.owner }}</td>
        <td>{{ item.client }}</td>
        <td>{{ item.client_human }}</td>
        <td>{{ item.client_pn }}</td>
        <td>{{ item }}</td>
        <td><a href="{% url 'kxy_project:project_detail' item.id %}">查看</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}